{% extends "page.html" %}
{% load thumbnail static %}

{% block extracss_compressed %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
{% endblock %}

{% block extrajs_compress %}
<script src="{% static 'js/shopping-cart.js' %}"></script>
<script src="{% static 'js/portal.js' %}"></script>
{% endblock %}

{% block title %}主页{% endblock %}

{% block content %}

<div id="shop-info" class="hidden-sm hidden-xs">
    <div class="container">
        <div class="col-md-2">
            <h3 class="name">紫金花路店</h3>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3">
                    <img width="60" src="{% static 'image/default_avatar.png' %}" /><br />
                    <span>厨师：XXX</span>
                </div>
                <div class="col-sm-3">
                    <img width="60" src="{% static 'image/default_avatar.png' %}" /><br />
                    <span>店长：XXX</span>
                </div>
                <div class="col-sm-3">
                    <img width="60" src="{% static 'image/default_avatar.png' %}" /><br />
                    <span>配送员：XXX</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-inline service">
                <li class="no-border">
                    <b>安全</b>
                    <small>正规油，新鲜食材</small>
                </li>
                <li>
                    <b>准时</b>
                    <small>指定时段送达</small>
                </li>
                <li>
                    <b>实时</b>
                    <small>全程监控进度</small>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="foods-list">
    <div class="row">
        <div class="col-md-9 well-shadow foods">
            <p class="toolbar">
                <span class="title">经典套餐</span>
            </p>
            <div class="row foods-line">
                {% for food in foods %}
                    {% if forloop.counter|divisibleby:"4" %}
                    </div>
                    <div class="row foods-line">
                    {% endif %}
                    <div class="col-md-4 food {% if food.count_today <= 0 %}sell-out{% endif %}" id="food-{{ food.id }}" data-price="{{ food.price }}">
                        <div class="body">
                            <img width="250" height="250" src="{{ food.image|thumbnail_url:'medium' }}" />
                            <div class="sell-out-cover bg-transparent"></div>
                        </div>
                        <div class="foot">
                            <span class="name">{{ food.name }}</span>
                            <span class="count"></span>
                            <button data-id="{{ food.id }}" data-name="{{ food.name }}" data-price="{{ food.price }}" data-description="{{ food.description }}" data-ingredients="{{ food.ingredients }}" class="btn btn-xs add-food-btn pull-right">￥{{ food.price }}</button>
                            <span class="sell-out-tip pull-right">已售完</span>
                            <br />
                            <small class="count-today">剩余：<span>{{ food.count_today }}</span> 份</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="board">
                <h4>公告</h4>
                <div class="body">
                    <p class="text-primary">免费配送<br />实时跟踪配送信息</p>
                    <p>
                       <span>两份</span>&nbsp;&nbsp;&nbsp;<span>9.9折</span><br />
                       <span>三份</span>&nbsp;&nbsp;&nbsp;<span>9.8折</span><br />
                       <span>四份</span>&nbsp;&nbsp;&nbsp;<span>9.7折</span><br />
                       <span class="text-danger">9.5折封顶</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="full-mask" class="full-mask"></div>

<div id="food-detail-wrapper">
    <span class="hide-btn"><span class="glyphicon glyphicon-remove"></span></span>
    <div class="food-detail" data-load-steps-url="{% url 'foods:load_steps' %}" data-load-comments-url="{% url 'foods:load_comments' %}">
    </div>
    {% verbatim %}
    <script id='food-detail-template' type='text/ractive'>
        <h3 class="text-center" data-id="{{ id }}">{{ name }}</h3>
        <div class="description">
            <img src="{{ image }}">
            <p>{{ description }}</p>
        </div>
        <br />
        <div class="detail">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#ingredients" role="tab" data-toggle="tab">原材料</a></li>
              <li class=""><a href="#steps" role="tab" data-id="{{ id }}" data-toggle="tab">厨师做法</a></li>
              <li class=""><a href="#comments" data-page="1" role="tab" data-id="{{ id }}" data-toggle="tab">用户评价</a></li>
            </ul>
            <div id="tab_content" class="tab-content">
              <div class="tab-pane fade active in" id="ingredients">
                <textarea class="form-control" readonly="readonly">{{ ingredients }}</textarea>
              </div>
              <div class="tab-pane fade" id="steps">
                <div class="text-center">
                    <br /><br />
                    <img src="/static/image/ajax-loader.gif" />
                </div>
              </div>
              <div class="tab-pane fade" id="comments">
                <div class="body">
                    <div class="text-center">
                        <br /><br />
                        <img src="/static/image/ajax-loader.gif" />
                    </div>
                </div>
                <div class="foot">
                    <a id="load_more_comments">加载更多</a>
                </div>
              </div>
            </div>
        </div>
    </script>
    <script id='food-steps-template' type='text/ractive'>
        <ol>
            {{#steps}}
            <li class="step">
                <p class="text">{{ description }}</p>
                <img src="{{ image }}" />
            </li>
            {{/steps}}
        </ol>
    </script>
    <script id='food-comments-template' type='text/ractive'>
        <ul class="list-unstyled">
            {{#comments}}
            <li class="comment">
                <p class="info">
                    <small>{{ name }}({{ building }}) {{ created_at }}</small>
                    <small class="pull-right rating-stars" data-rating="{{ rating }}">
                        <i class="star">★</i>
                        <i class="star">★</i>
                        <i class="star">★</i>
                        <i class="star">★</i>
                        <i class="star">★</i>
                    </small>
                </p>
                <p>{{ content }}</p>
            </li>
            {{/comments}}
        </ul>
    </script>
    {% endverbatim %}
</div>

<div id="shopping-cart">
    <div class="docker">
        <span class="icon text-center"> <span class="glyphicon glyphicon-shopping-cart"></span> </span>
        <span class="foods-overview">请选择</span>
        <a id="checkout-btn" href="{% url 'orders:checkout' %}" class="btn btn-yellow btn-sm pull-right">去结账 ></a>
    </div>
    <div class="foods-list-wrapper">
        <p class="foods-list-title">购物车&nbsp;[<a id="empty-shoppingcart-btn" href="javascript:void(0)">清空</a>]</p>
        <table class="table foods-list">
        </table>
        {% verbatim %}
        <script id='foods-list-item-template' type='text/ractive'>
            {{#foods}}
            <tr>
                <td class="food-name">{{ name }}</td>
                <td>
                    <div class="btn-group">
                        <span class="btn btn-default btn-xs hidden-btn" data-id="{{ id }}" data-action="minusFood">‐</span>
                        <span class="btn btn-default btn-xs food-count">{{ count }}</span>
                        <span class="btn btn-default btn-xs hidden-btn" data-id="{{ id }}" data-action="addFood">+</span>
                    </div>
                </td>
                <td class="food-price">￥{{ subtotal_price }}&nbsp;&nbsp;</td>
                <td><a href="javascript:void(0)" class="hidden-btn" data-id="{{ id }}" data-action="removeFood">x</a></td>
            </tr>
            {{/foods}}
        </script>
        <script id='foods-overview-template' type='text/ractive'>
            &nbsp;<span>{{ total_count }}份</span>&nbsp;<span>￥{{ total_price }}</span>
        </script>
        {% endverbatim %}
    </div>
</div>

{% endblock %}
