{% extends "page.html" %}
{% load thumbnail %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<div class="container">
    {% include "title.html" with title=object %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'foods:list' %}">所有菜品</a></li>
                <li class="active">{{ object }}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="{{ object.image|thumbnail_url:'large' }}" />
        </div>
        <div class="col-md-9">
            <table class="table table-bordered">
                <tr>
                    <td>价格</td>
                    <td>{{ object.price }}</td>
                </tr>
                <tr>
                    <td>介绍</td>
                    <td>{{ object.description|linebreaks }}</td>
                </tr>
                <tr>
                    <td>原料</td>
                    <td>{{ object.ingredients|linebreaks }}</td>
                </tr>
                <tr>
                    <td>步骤</td>
                    <td>
                        <table class="table">
                            {% for step in object.steps %}
                                <tr>
                                    <td><b>{{ forloop.counter }}</b></td>
                                    <td class="col-sm-8">{{ step.description }}</td>
                                    <td>
                                        <img class="img-responsive" src="{{ step.image|thumbnail_url:'medium' }}" />
                                    </td>
                                    <td>
                                        <a href="{% url 'foods:update_step' food_pk=object.id pk=step.id %}">修改</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3">
                                    <a href="{% url 'foods:create_step' food_pk=object.id %}">添加</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>小贴士</td>
                    <td>{{ object.tips|linebreaks }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}
