{% extends "page.html" %}
{% load static %}

{% block extracss_compressed %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block title %}我的订单{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well-shadow">
            <div class="row">
                <h4>我的订单</h4>
                <hr />
                <table class="table table-bordered" id="my-orders">
                    {% for order in object_list %}
                    <tr class="column-info">
                        <td colspan="3">
                            <span class="order-status">{{ order.get_status_display }}</span>
                            <span>订单号：</span>
                            <a href="{% url 'orders:detail' code=order.code %}">{{ order.code }}</a>
                            <span class="sep">|</span>
                            <span>用餐时间：{{ order.delivery_time }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="order-description">
                            <ul class="list-unstyled">
                                {% for order_food in order.orderfood_set.all %}
                                <li>
                                    <span class="food-name">{{ order_food.food }}</span>
                                    <span class="food-count pull-right">x {{ order_food.count }}份</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center text-middle">￥{{ order.final_total_price }}</td>
                        <td class="text-center">
                            <a href="{% url 'orders:detail' code=order.code %}">订单详情 ></a><br />
                            <a href="#" class="highlight">在线支付 ></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}