{% extends "page.html" %}
{% load static handsome_template_tags %}

{% block extracss_compressed %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block title %}订单{{ order.code }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 well-shadow">
            <div class="row">
                <p>
                    <span>订单号：{{ order.code }}</span>
                    {% if order.status == UNPAID %}
                    <span class="pull-right">
                        <a href="{% url 'orders:pay' code=order.code %}" class="highlight">立即付款 ></a>
                    </span>
                    {% endif %}
                </p>
                <hr />
                <table class="table table-bordered" id="order-detail">
                    <tr>
                        <td class="foods">
                            <ul class="list-unstyled">
                                {% for order_food in order.orderfood_set.all %}
                                <li>
                                    <span class="food-name">{{ order_food.food }}</span>
                                    <span class="food-count">{{ order_food.count }}份</span>
                                    <span class="food-price pull-right">￥{{ order_food.subtotal_price }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center text-middle">
                            <span>{{ order.get_status_display }}</span>
                            {% if order.delivery_man %}
                            <br />
                            <abbr title="配送员,{{ order.delivery_man.phone }}">{{ order.delivery_man.user.get_full_name }}</abbr>
                            {% endif %}
                        </td>
                        <td class="text-center text-middle">用餐时间：<br />{{ order.delivery_time }}</td>
                        <td class="text-center text-middle">下单时间：<br />{{ order.created_at|date:"m-d H:i" }}</td>
                    </tr>
                    <tr>
                        <td colspan="4" class="text-center">
                            <ul class="list-inline steps">
                                {% for step in order.sorted_steps %}
                                <li class="step">
                                    <div class="text {% if step.is_done %}done{% endif %}">{{ step.label }}</div>
                                    <div class="time"><small>{{ step.time }}&nbsp;</small></div>
                                </li>
                                {% endfor %}
                            </ul>
                            <br /><br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div class="pull-right">
                                <dl class="dl-horizontal">
                                    <dt>总计：</dt>
                                    <dd>￥{{ order.total_price }}</dd>
                                    <dt></dt>
                                    <dd>---------</dd>
                                    {% if order.discount %}
                                    <dt>促销优惠：</dt>
                                    <dd>-￥{{ order.discount }}</dd>
                                    {% endif %}
                                    {% if order.coupon %}
                                    <dt>优惠券：</dt>
                                    <dd>-￥{{ order.coupon.discount }}</dd>
                                    {% endif %}
                                    <dt></dt>
                                    <dd>---------</dd>
                                    <dt><b>应付金额：<b></dt>
                                    <dd><b>￥{{ order.final_total_price }}</b></dd>
                                </dl>
                            </div>
                        </td>
                    </tr>
                </table>
                {% if order.status == DISTRIBUTING %}
                <p>配送员位置(<a href="javascript:location.reload();">刷新页面</a>查看最新位置)</p>
                <hr />
                <div class="row">
                    {% include "orders/order_room_chart.html" %}
                </div>
                {% endif %}
                <p>姓&nbsp;&nbsp;&nbsp;&nbsp;名：{{ order.name }}</p>
                <p>地&nbsp;&nbsp;&nbsp;&nbsp;址：{{ order.address }}</p>
                <p>联系电话：{{ order.phone|dim }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}