{% extends "page.html" %}
{% load thumbnail static handsome_template_tags %}

{% block extracss_compressed %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block extrajs_compress %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block title %}{{ staff.get_role_display }}{{ staff.user.get_full_name }}的个人页面{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center text-bottom">
            <img width="60" src="{{ staff.avatar|thumbnail_url:'small' }}" />
            <p>{{ staff.user.get_full_name }}<small>({{ staff.get_role_display }})</small></p>
            <p class="text-left">{{ object.intro }}</p>
        </div>
        <div class="col-md-9">
            <h4>留言板{% if not user.is_authenticated %}<small>(登录后才能留言)</small>{% endif %}</h4>
            <hr />
            {% if user.is_authenticated %}
            <form id="create-message-form" class="form-horizontal" role="form" method="post" action="{% url 'accounts:create_message' pk=staff.id %}">
                {% csrf_token %}
                <input type="hidden" name="reply_to" id="reply_to" />
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="reply_to hidden">
                            <p class="name"></p>
                            <p class="well well-sm content"></p>
                        </div>
                        <textarea class="form-control" name="content" rows="2"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button id="create-message-btn" type="button" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
            {% endif %}
            <ul class="list-unstyled messages">
                {% for msg in staff.staffmessage_set.all %}
                <li class="user_{{ msg.user.id }}" data-id="{{ msg.id }}">
                    {% if msg.user.staff %}
                    <img width="25" src="{{ msg.user.staff.avatar|thumbnail_url:'small' }}" />
                    <a href="#user_{{ msg.user.id }}" class="name">{{ msg.user.get_full_name }}<small>({{ msg.user.staff.get_role_display }})</small>:</a>
                    {% else %}
                    <img width="25" src="{% static 'image/default_avatar.png' %}" />
                    <a href="#user_{{ msg.user.id }}" class="name">{{ msg.user.address.name }}({{ msg.user.address.building }}):</a>
                    {% endif %}
                    {% if msg.reply_to %}
                        {% if msg.reply_to.user.staff %}
                        <span>回复<a href="#user_{{ msg.reply_to.user.id }}">{{ msg.reply_to.user.get_full_name }}<small>({{ msg.reply_to.user.staff.get_role_display }})</small></a>:</span>
                        {% else %}
                        <span>回复<a href="#user_{{ msg.reply_to.user.id }}">{{ msg.reply_to.user.address.name }}({{ msg.reply_to.user.address.building }})</a>:</span>
                        {% endif %}
                    {% endif %}
                    <span class="content">{{ msg.content }}<small>({{ msg.created_at|date:"m-d H:i" }})</small></span>
                    {% if user.is_authenticated %}
                    <a href="#" class="reply-btn">回复</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
