{% extends "page.html" %}
{% load handsome_template_tags %}

{% block title %}写字楼结构{% endblock %}

{% block content %}
<div class="container well-shadow">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'buildings:list' %}">所有写字楼</a></li>
                <li class="active"></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <table class="table table-bordered">
                <tr>
                    <td class="text-center">{{ building }}{{ zone }}</td>
                </tr>
                {% for item in floor_rooms %}
                    <tr>
                        <td>
                            <span>{{ item.0 }}楼</span>
                            {% for room in item.1 %}
                            <span class="label label-default">{{ room.number }}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
