{% extends "page.html" %}
{% load handsome_template_tags %}

{% block title %}{{ headline }}{% endblock %}

{% block content %}
<div class="container well-shadow">
    {% include "title.html" with title=headline %}

    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'buildings:list' %}">所有写字楼</a></li>
                <li>
                    {% if building.is_multiple %}
                        <a href="{% url 'buildings:room_list' building_pk=building.id zone_pk=zone.id %}">{{ building }}{{ zone }}的所有办公室</a>
                    {% else %}
                        <a href="{% url 'buildings:room_list' building_pk=building.id %}">{{ building }}的所有办公室</a>
                    {% endif %}
                </li>
                <li class="active">{{ object.number }}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                    <div class="form-group">
                        <label class="col-md-2">{{ field.label }}:</label>
                        <div class="col-md-4">
                            {{ field|add_attrs:"class:form-control" }}
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="提交" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
