html {
    height: 100%;
}
body {
    height: 100%;
    font: 13px/1.6em "Microsoft Yahei","Helvetica Neue",Arial,sans-serif;
    letter-spacing: -0.01em;
    word-spacing: 0.2em;
    /*background-color: #f9f9f9;*/
    /*background: url("../image/bg.jpg") repeat;*/
}

.content {
    min-height: 90%;
}

.btn-yellow {
    background-color: #fff28e;
    background-image: -webkit-linear-gradient(top, #fffab8, #ffea64);
    background-image: linear-gradient(to bottom, #fffab8, #ffea64);
    border-color: #e2c78d;
    color: #333;
    margin: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.well-shadow {
    padding: 10px 35px 25px 35px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    border: 1px solid #e3e3e3;
    zoom: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#888888);
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#888888);
}

.full-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.3);
    opacity: .3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)";
}

.navbar {
    min-height: 0;
    border-radius: 0;
}

.navbar .navbar-nav>li>a, .navbar-text {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
