{% extends "page.html" %}
{% load handsome_template_tags %}

{% block title %}新建优惠码{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 well-shadow">
            <form method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
                {% csrf_token %}
                {{ form.errors }}
                {% for field in form %}
                    <div class="form-group">
                        <label class="col-sm-3">{{ field.label }}:</label>
                        <div class="col-sm-3">
                            {{ field|add_attrs:"class:form-control input-sm" }}
                        </div>
                    </div>
                {% endfor %}
                {% if codes %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <textarea rows="10" class="form-control">{{ codes }}</textarea>
                    </div>
                </div>
                {% endif %}
                <input type="submit" value="提交" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
