{% extends "page.html" %}
{% load thumbnail static %}

{% block extracss_compressed %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}

{% block extrajs_compress %}
<script src="{% static 'js/shopping-cart.js' %}"></script>
<script src="{% static 'js/shop.js' %}"></script>
{% endblock %}

{% block title %}主页{% endblock %}

{% block content %}

<div id="shop-info" class="hidden-sm hidden-xs">
    <div class="container">
        <div class="col-md-2">
            <h3 class="name">{{ shop.name }}</h3>
            <span>店址：{{ shop.address }}</span>
        </div>
        <div class="col-md-6">
            <div class="row">
                {% for staff in shop.staffs %}
                <div class="col-sm-3 text-center">
                    <img height="65" src="{% if staff.avatar %}{{ staff.avatar }}{% else %}{% static 'image/default_avatar.png' %}{% endif %}" /><br />
                    <span>{{ staff.role_name }}：{{ staff.full_name }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <ul class="list-inline service">
                <li class="no-border popover-item" data-toggle="popover" data-content="Hi" data-placement="bottom" data-trigger="hover">
                    <b>安全</b>
                    <small>正规油，新鲜食材</small>
                </li>
                <li class="popover-item" data-toggle="popover" data-content="Hi" data-placement="bottom" data-trigger="hover">
                    <b>准时</b>
                    <small>指定时段送达</small>
                </li>
                <li class="popover-item" data-toggle="popover" data-content="Hi" data-placement="bottom" data-trigger="hover">
                    <b>实时</b>
                    <small>全程监控进度</small>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="foods-list">
    <div class="row">
        <div class="col-md-9">
            {% for time_frame in shop.time_frames %}
            <div class="row">
                <div class="col-md-12 well-shadow foods {% if time_frame.is_available %}available{% endif %}" data-time-frame="{{ time_frame.id }}">
                    <p class="toolbar">
                        <span class="title">{{ time_frame.name }}</span>
                        <span class="pull-right time">{{ time_frame.time }}</span>
                    </p>
                    {% if time_frame.is_available %}
                        {% for food in time_frame.available_foods %}
                        <div class="col-md-4 food" id="food-{{ food.id }}" data-price="{{ food.price }}">
                            <div class="body">
                                <img height="170" class="img-responsive" src="{{ food.image }}" />
                                <div class="sell-out-cover bg-transparent"></div>
                            </div>
                            <div class="foot">
                                <span class="name">{{ food.name }}</span>
                                <span class="count"></span>
                                <button data-id="{{ food.id }}" data-name="{{ food.name }}" data-is-primary="{{ food.is_primary }}" data-price="{{ food.price }}" data-comment-count="{{ food.comment_count }}" data-delicious-comment-count="{{ food.delicious_comment_count }}" data-soso-comment-count="{{ food.soso_comment_count }}" data-bad-comment-count="{{ food.bad_comment_count }}" data-description="{{ food.description }}" data-ingredients="{{ food.ingredients }}" class="btn btn-xs add-food-btn pull-right">￥{{ food.price }}</button>
                                <span class="sell-out-tip pull-right">已售完</span><br />
                                <small class="count-today">剩余：<span></span> 份</small>
                                {% if food.comment_count > 0 %}
                                <small class="comment-count pull-right">一共有{{ food.comment_count }}条评价</small>
                                {% else %}
                                <small class="comment-count pull-right">暂时没有评价</small>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-3 hidden-sm hidden-xs">
            <div class="board">
                <h4>公告</h4>
                <div class="body">
                    <p class="text-primary">免费配送<br />实时跟踪配送信息</p>
                    <p>
                       <span>两份</span>&nbsp;&nbsp;&nbsp;<span>9.9折</span><br />
                       <span>三份</span>&nbsp;&nbsp;&nbsp;<span>9.8折</span><br />
                       <span>四份</span>&nbsp;&nbsp;&nbsp;<span>9.7折</span><br />
                       <span class="text-danger">9.5折封顶</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="full-mask" class="full-mask"></div>

<div id="food-detail-wrapper">
    <span class="hide-btn"><span class="glyphicon glyphicon-remove"></span></span>
    <div class="food-detail" data-load-steps-url="{% url 'foods:load_steps' %}" data-load-comments-url="{% url 'foods:load_comments' %}">
    </div>
    {% verbatim %}
    <script id='food-detail-template' type='text/template'>
        <h3 class="text-center" data-id="{{id}}">{{name}}</h3>
        <div class="description">
            <img src="{{image}}">
            <p>{{description}}</p>
        </div>
        <br />
        <div class="detail">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#ingredients" role="tab" data-toggle="tab">原材料</a></li>
              <li class=""><a href="#steps" role="tab" data-id="{{id}}" data-toggle="tab">厨师做法</a></li>
              <li class=""><a href="#comments" data-page="1" role="tab" data-id="{{id}}" data-toggle="tab">用户评价<small>({{comment_count}}条)</small></a></li>
            </ul>
            <div id="tab_content" class="tab-content">
              <div class="tab-pane fade active in" id="ingredients">
                <textarea class="form-control" readonly="readonly">{{ingredients}}</textarea>
              </div>
              <div class="tab-pane fade" id="steps">
                <div class="text-center">
                    <br /><br />
                    <img src="/static/image/ajax-loader.gif" />
                </div>
              </div>
              <div class="tab-pane fade" id="comments">
                <div class="head">
                    <label class="radio-inline">
                        <input type="radio" name="rating" checked="checked" value="all" />全部<small>({{comment_count}})</small>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" value="delicious" />好吃<small>({{delicious_comment_count}})</small>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" value="soso" />一般<small>({{soso_comment_count}})</small>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="rating" value="bad" />不好吃<small>({{bad_comment_count}})</small>
                    </label>
                    <hr />
                </div>
                <div class="body">
                    <div class="text-center">
                        <br /><br />
                        <img src="/static/image/ajax-loader.gif" />
                    </div>
                </div>
                <div class="foot">
                    <a id="load_more_comments">加载更多</a>
                </div>
              </div>
            </div>
        </div>
    </script>
    <script id='food-steps-template' type='text/template'>
        <li class="step">
            <p class="text">{{description}}</p>
            <img src="{{image}}" />
        </li>
    </script>
    <script id='food-comments-template' type='text/template'>
        <li class="comment">
            <p class="info">
                <small>{{name}}({{building}}) {{created_at}}</small>
                <span title="{{rating}}" class="pull-right glyphicon {{rating_class}}"></span>
            </p>
            <p>{{content}}</p>
        </li>
    </script>
    {% endverbatim %}
</div>

<div id="shopping-cart">
    <div class="docker">
        <span class="icon text-center"> <span class="glyphicon glyphicon-shopping-cart"></span> </span>
        <span class="foods-overview">请选择</span>
        <a id="checkout-btn" href="{% url 'orders:checkout' %}?shop={{ shop.slug }}" class="btn btn-yellow btn-sm pull-right">去结账 ></a>
    </div>
    <div class="foods-list-wrapper">
        <p class="foods-list-title">购物车&nbsp;[<a id="empty-shoppingcart-btn" href="javascript:void(0)">清空</a>]</p>
        <table class="table foods-list">
        </table>
        {% verbatim %}
        <script id='foods-list-item-template' type='text/template'>
            <tr>
                <td class="food-name">{{name}}</td>
                <td>
                    <div class="btn-group">
                        <span class="btn btn-default btn-xs hidden-btn" data-id="{{id}}" data-action="minusFood">‐</span>
                        <span class="btn btn-default btn-xs food-count">{{count}}</span>
                        <span class="btn btn-default btn-xs hidden-btn" data-id="{{id}}" data-action="addFood">+</span>
                    </div>
                </td>
                <td class="food-price">￥{{subtotal_price}}&nbsp;&nbsp;</td>
                <td><a href="javascript:void(0)" class="hidden-btn" data-id="{{id}}" data-action="removeFood">x</a></td>
            </tr>
        </script>
        <script id='foods-overview-template' type='text/template'>
            &nbsp;<span>{{total_count}}份</span>&nbsp;<span>￥{{total_price}}</span>
        </script>
        {% endverbatim %}
    </div>
</div>

{% endblock %}
