{% extends "page.html" %}
{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div class="container well-shadow">
    <div class="row">
        <table class="table table-bordered col-md-12">
            <tr>
                <td>店面</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>地址</td>
                <td>{{ object.address }}</td>
            </tr>
            <tr>
                <td>联系电话</td>
                <td>{{ object.contact }}</td>
            </tr>
            <tr>
                <td>开业时间</td>
                <td>{{ object.open_at|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <td>店员</td>
                <td>
                    <ul class="list-unstyled">
                        {% for staff in object.staff_set.all %}
                        <li><a href="{% url 'accounts:update_staff' pk=staff.id %}">{{ staff.user.get_full_name }} </a>({{ staff.get_role_display }})</li>
                        {% endfor %}
                        <li><a href="{% url 'accounts:add_staff' %}?shop_id={{ object.id }}">添加</a></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
